body {
    background-color: #343a40; /* Cambié el fondo a un gris oscuro diferente */
}

#counter {
    letter-spacing: 40px;
    font-size: 80px;
    text-align: center;
    font-family: sans-serif;
    color: #f8f9fa; /* Cambié el texto a un blanco más suave */
}

button {
    width: 100px;
    border-radius: 10px;
    background-color: rgba(0, 123, 255, 0.8); /* Nuevo color de fondo azul */
    color: #f8f9fa; /* Texto blanco */
    margin: 5px;
    text-transform: uppercase;
}

.fa-solid {
    color: #17a2b8; /* Nuevo color para el icono (un azul claro) */
}
